<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSS 연결 -->
        <link rel="stylesheet" href="/css/board.css" />
        <link rel="stylesheet" href="/css/common.css" />
    
    
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
        <!-- axios 사용 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <title>Board</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
            <li><a href="/introduce">소개</a></li>
            <li><a href="/board">자유게시판</a></li>
          <li><a href="/shooting">슈팅 관련</a></li>
          <li> <a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
      </div>
    </header>


    </div>
    <section class="section" id="section">
      <div class="title">
          <a href="/shooting_video" class="video" id="video">자유게시판</a>
      </div>
      <article class="article">
          <div class="top">
              <ul>
                  <li>
                      <form action="/shooting_video/all">
                          <button id="typeAll" class="type">전체</button>
                      </form>
                  </li>
              </ul>
              <!-- <form action="/recruit_art/search" class="search" method="get">
                  <div class="bottom_line">
                      <input type="text" name="name" placeholder="검색어를 입력해주세요."/>
                      <button class="fa-solid fa-magnifying-glass"></button>
                  </div>
              </form> -->
          </div>

          <div class="board" id="board">
              <table> 
                  <thead>
                    <% data.forEach(el => { %>

                      <tr>
                          <!-- <td>번호</td>
                          <td>제목</td>                            
                          <td>작성자</td>
                          <td>게시일</td> -->
                          <td><%=el.title%></td>
                          <td><%=el.content%></td>
                          <td><%=el.date%></td>
                      </tr>
                      <% }) %>
                  </thead> 
                  <tbody>

                      
                </tbody>
              </table>    
          </div>
          <div class="paging">
              <div class="ctrlBack">
                  <a href="/recruit_art/all" id="leftStart" class="leftStart">
                      <i class="arrow fa-solid fa-angles-left"></i>
                  </a>

                  <a href="" id="left" class="right">
                      <i class="arrow fa-solid fa-angle-left"></i>
                  </a>
              
                  <div class="pageNum" id="pageNum">
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=1>
                              <button id="pageButton1" class="pageButton">1</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=2>
                              <button id="pageButton2" class="pageButton">2</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=3>
                              <button id="pageButton3" class="pageButton">3</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=4>
                              <button id="pageButton4" class="pageButton">4</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=5>
                              <button id="pageButton5" class="pageButton">5</button>
                          </form>                            
                      
                  </div>

                  <a href="" id="right" class="right">
                      <i class="arrow fa-solid fa-angle-right"></i>
                  </a>
                           
                  
                      <a href="/recruit_art/all?id=7"  id="rightEnd" class="rightEnd" >
                          <i class="arrow fa-solid fa-angles-right"></i>
                      </a>
                                          
              </div>
          </div>
      </article>
  </section>
  <input id="title" type="text" />
  <input id="content" type="text" />
  <button id="button" onclick="enroll()">확인</button>
  <footer id="footer">    
      <div class="footerText">문의 : wcf941109@gmail.com</div>       
  </footer>
   <!-- 자바 스크립트 연결 -->
   <script type="text/javascript" src="/js/board.js"></script>

</body>
</html>




