<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/css/introduce.css" />
    <link rel="stylesheet" href="/css/common.css" />


    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">

    <!-- axios 사용 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Introduce</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/board">자유게시판</a></li>
          <li><a href="/shooting">슈팅 관련</a></li>
          <li> <a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
      </div>
    </header>
    <div class="title">
      <a href="/introduce" class="introduce" id="introduce">소개</a>
    </div>

    <div class="intro_wrapper">
      <div class="intro_wrap">
        <img src="/images/klay.jpg" alt="탐슨" class="intro_img" />
        <div class="intro">
          <div class="intro_title fk">Shooting_BasketBall</div>
          <div class="intro_sub">
            농구는 점수가 많이 나오는 구기종목입니다.<br>
            현대농구에서 가장 쉽게 골을 넣는 방법은 뭘까요?<br>
            많은 수비 사이를 드리블로 뚫고 넣는 레이업? 쉽지 않죠.<br>
            큰 키와 강한 힘을 이용한 포스트업?<br>
             신체조건은 쉽게 바뀌지 않고, 성인의 키는 더 크지 않습니다.<br>
            그러면 우린 어떻게 해야 할까요? 답은 슛입니다.<br>
            하지만, 슛은 좋은 자세로 많은 연습을 해야합니다.<br>
            <span>Shooting_BasketBall</span>에서 일반인이 참고하면 좋을 슛 매커니즘 영상과<br>
            부족한 사람들끼리 슛폼을 피드백할 수 있는 게시판을 이용해<br>
            쉽게 농구를 즐기세요!<br>
          </div>
        </div>
      </div>
    </div>
    
       <footer id="footer">    
      <div class="footerText">문의 : wcf941109@gmail.com</div>       
  </footer>
  </body>
  
</html>
