<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSS 연결 -->
        <link rel="stylesheet" href="/css/shooting.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    
    
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
        <!-- axios 사용 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        <script
        src="https://kit.fontawesome.com/8ddf9e168a.js"
        crossorigin="anonymous"
      ></script>
    
    
    <title>Shooting</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
            <li><a href="/introduce">소개</a></li>
            <li><a href="/board">자유게시판</a></li>
            <li><a href="/shooting">슈팅 관련</a></li>
            <li>  <div class="loginId">
                <% if(name){%>
                <div><%=name%>님 환영합니다</div>
                <span
                  ><a href="/logout"
                    ><i class="fa-solid fa-right-from-bracket"></i></a
                ></span>
                <% } else {%>
                <div class="navi"><a href="/login">로그인</a></div>
                <%}%>
              </div></li>        </nav>
      </div>
      </div>
    </header>


    </div>
    <section class="section" id="section">
      <div class="title">
          <a href="/shooting_video" class="video" id="video">슈팅 참고 영상</a>
          <a href="/shooting_feedback" class="feedback" id="feedback">슈팅폼 피드백</a>
      </div>
      <article class="article">
          <div class="top">
              <ul>
                  <li>
                      <form action="/shooting_video/all">
                          <button id="typeAll" class="type">전체</button>
                      </form>
                  </li>
                  <li>
                      <form action="/shooting_video/orchestra">
                          <button id="typeSetshot" class="type">세트슛</button>
                      </form>
                  </li>
                  <li>
                    <form action="/shooting_video/orchestra">
                        <button id="typeJumpshot" class="type">점프슛</button>
                    </form>
                </li>
              </ul>
              <!-- <form action="/recruit_art/search" class="search" method="get">
                  <div class="bottom_line">
                      <input type="text" name="name" placeholder="검색어를 입력해주세요."/>
                      <button class="fa-solid fa-magnifying-glass"></button>
                  </div>
              </form> -->
          </div>

          <div class="board" id="board">
              <table> 
                  <thead>
                      <tr>
                          <td>번호</td>
                          <td>제목</td>                            
                          <td>작성자</td>
                          <td>게시일</td>
                      </tr>
                  </thead> 
                  <tbody>
                      
                          <tr>
                              <td >68</td>
                              <td >서울시립교향악단</td>                                
                              <td ><a href=https://www.seoulphil.or.kr/recruit/staff/detail?langCd=ko&amp;menuFlag=MFLG0001&amp;postNo=341 target="_black">재단법인 서울시립교향악단 경영본부 직원 모집</a></td>
                              <td >2022-08-09</td>
                          </tr>                         
                      
                          <tr>
                              <td >67</td>
                              <td >웨스턴심포니오케스트라</td>                                
                              <td ><a href=https://artmore.kr/sub/recruit/search_view.do?rec_idx=50176 target="_black">용인문화재단 상주단체 2022 웨스턴심포니오케스트라 단원모집 공고</a></td>
                              <td >2022-08-04</td>
                          </tr>                         
                      
                          <tr>
                              <td >66</td>
                              <td >경산시립교향악단</td>                                
                              <td ><a href=https://www.gbgs.go.kr/open_content/ko/page.do?pageNo=1&amp;pagePrvNxt=1&amp;pageRef=0&amp;pageOrder=0&amp;step=258&amp;parm_bod_uid=209314&amp;srchEnable=1&amp;srchKeyword&amp;srchSDate=1960-01-01&amp;srchBgpUid=-1&amp;mnu_uid=2162&amp;parm_mnu_uid=0&amp;srchEDate=9999-12-31&amp;srchColumn&amp;srchVoteType=-1&amp;fbclid=IwAR2ugSE6WfEVkVqPja1c_lxV6P8wYGQJO9hzqNipP6Wa98IHyH9CkXYnmlQ target="_black">경산시립교향악단 지휘자 공개모집 공고</a></td>
                              <td >2022-08-03</td>
                          </tr>                         
                      
                          <tr>
                              <td >65</td>
                              <td >국립합창단</td>                                
                              <td ><a href=http://nationalchorus.or.kr/notice-2/?board_name=notice_new&amp;search_field=fn_title&amp;search_text=%EC%A7%81%EC%9B%90&amp;order_by=fn_pid&amp;order_type=desc&amp;vid=574 target="_black">[공지] 국립합창단 직원 채용 공고  </a></td>
                              <td >2022-08-01</td>
                          </tr>                         
                      
                          <tr>
                              <td >63</td>
                              <td >노원구립청소년합창단</td>                                
                              <td ><a href=https://job.incruit.com/jobdb_info/jobpost.asp?job=2207200000466 target="_black">노원구립청소년합창단 지휘자 모집 공고</a></td>
                              <td >2022-07-27</td>
                          </tr>                         
                      
                          <tr>
                              <td >64</td>
                              <td >아산시교향악단</td>                                
                              <td ><a href=https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&amp;callPage=detail&amp;wantedAuthNo=K172122207120023&amp;rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do target="_black">2022년도 문화예술기관 연수단원 현악기 부문 실연자모집</a></td>
                              <td >2022-07-27</td>
                          </tr>                         
                      
                          <tr>
                              <td >62</td>
                              <td >국립합창단</td>                                
                              <td ><a href=http://nationalchorus.or.kr/notice-2/?board_name=notice_new&amp;search_field=fn_title&amp;search_text=%EC%A7%81%EC%9B%90&amp;order_by=fn_pid&amp;order_type=desc&amp;vid=573 target="_black">[공지] 직원 채용 최종 합격자 발표  </a></td>
                              <td >2022-07-26</td>
                          </tr>                         
                      
                          <tr>
                              <td >61</td>
                              <td >서울시립예술단</td>                                
                              <td ><a href=https://www.sjartgroups.or.kr/sjartgroups/bbs/B0000025/view.do?nttId=45586&amp;menuNo=300056&amp;pageIndex=1 target="_black">(재)세종문화회관 서울시극단 단장 공개채용 공고</a></td>
                              <td >2022-07-25</td>
                          </tr>                         
                      
                          <tr>
                              <td >60</td>
                              <td >춘천시립예술단</td>                                
                              <td ><a href=https://www.cccf.or.kr/Art/S30000/S30400/boardView?board_key=10644 target="_black">춘천시립예술단(청소년교향악단) 강사 선발  최종 합격자 공고</a></td>
                              <td >2022-07-19</td>
                          </tr>                         
                      
                          <tr>
                              <td >59</td>
                              <td >강남예술단</td>                                
                              <td ><a href=https://www.gangnam.go.kr//office/gfac/board/gfac_staffrec/257/view.do?mid=gfac_staffRec target="_black">									강남합창단 예술감독 공개모집  최종합격자 공고																										</a></td>
                              <td >2022-07-18</td>
                          </tr>                         
                          
                  </tbody>
              </table>    
          </div>
          <div class="paging">
              <div class="ctrlBack">
                  <a href="/recruit_art/all" id="leftStart" class="leftStart">
                      <i class="arrow fa-solid fa-angles-left"></i>
                  </a>

                  <a href="" id="left" class="right">
                      <i class="arrow fa-solid fa-angle-left"></i>
                  </a>
              
                  <div class="pageNum" id="pageNum">
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=1>
                              <button id="pageButton1" class="pageButton">1</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=2>
                              <button id="pageButton2" class="pageButton">2</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=3>
                              <button id="pageButton3" class="pageButton">3</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=4>
                              <button id="pageButton4" class="pageButton">4</button>
                          </form>                            
                      
                          <form action="" id=7>
                              <input type="hidden" name="id" value=5>
                              <button id="pageButton5" class="pageButton">5</button>
                          </form>                            
                      
                  </div>

                  <a href="" id="right" class="right">
                      <i class="arrow fa-solid fa-angle-right"></i>
                  </a>
                           
                  
                      <a href="/recruit_art/all?id=7"  id="rightEnd" class="rightEnd" >
                          <i class="arrow fa-solid fa-angles-right"></i>
                      </a>
                                          
              </div>
          </div>
      </article>
  </section>

  <footer id="footer">    
      <div class="footerText">문의 : wcf941109@gmail.com</div>       
  </footer>
  </body>
</html>
