<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/css/write.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap"
      rel="stylesheet"
    />
    <!-- axios 사용 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    
    <title>Update</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
            <li><a href="/introduce">소개</a></li>
            <li><a href="/board">자유게시판</a></li>
          <li><a href="/shooting">슈팅 관련</a></li>
          <li> <a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
      </div>
    </header>

    <div class="title">
      <class="title" id="title">게시글 수정</class>
  </div>

    <div class="write_wrap">
      <form action="" method="post">
        <div class="write">
          <label for="title">제목</label>
          <input id="title" value="<%=data.title%>" type="text" />
        </div>
        <div class="name">
          <label for="name">작성자</label>
          <input id="name" value="<%=data.name%>" type="text" />
        </div>

        <div class="write">
          <label for="content">내용</label>
          <textarea name="" id="content" value="<%=data.content%>" cols="30" rows="10"  ><%=data.content%></textarea>
        </div>
        <div class="button_wrap">
          <button id="aaa" type="button" onclick="update()">수정하기</button>
          <button id="getList" type="button">취소하기</button>
        </div>
      </form>
    </div>
    <!-- write_wrap -->
    <!-- 자바 스크립트 연결 -->
    <script type="text/javascript" src="/js/update.js"></script>

  </body>
</html>
