/******  header  *******/
header .desktopHeader {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 15px;
}

header .desktopHeader .logo {
  height: 100%;
  width: 30vw;
}

header .desktopHeader .logo a {
  font-family: 'Fredoka One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 40px;
  height: 100%;
  width: 100%;
}

header .desktopHeader nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 68vw; */
}
header .desktopHeader nav li {
  /* padding: 0 0.5rem; */
  /* margin: 0 5rem; */
  margin: 0 15px;
}

header .desktopHeader nav li:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

header .desktopHeader nav li a {
  font-size: 1.3rem;
  color: black;
}

header .desktopHeader .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 16vw;
}

header .desktopHeader .login .name {
  color: rgb(170, 169, 169);
  font-size: 1rem;
}

header .desktopHeader .login .fa-solid {
  color: black;
  margin-left: 10px;
  font-size: 1.5rem;
}

header .desktopHeader .login a {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: black;
  cursor: pointer;
}

header .desktopHeader .login .loginText:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

header .desktopHeader .login .logout:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

footer .footerText {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
/**  line_wrap  **/
.line_wrap {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

/**  login, check  **/
.login_wrap {
  height: 50vh;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin-top: 5%; */
}

.login {
  display: flex;
  width: 350px;
  flex-direction: column;
}

.login label {
  font-size: 18px;
  font-weight: bold;
  animation: title 2s 1 forwards;
}

.login input {
  height: 50px;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  margin-top: 20px;
}

.find1 {
  display: flex;
  justify-content: space-between;
}

.find1 a {
  margin: 20px 0px;

  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.check button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 250ms;
}

.check button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
}

.check a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  /* background-color: #d3d3d3; */
  text-align: center;
  width: 100%;
  /* height: 40px; */
  border-radius: 10px;
  font-weight: bold;
  transition: transform 250ms;
}

/* .check a:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
} */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
  margin-top: 100px;
}

footer .footerText {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  /* padding-top: 150px; */
}

/******  login, check  *******/
.login_wrap {
  height: 60vh;
  margin-top: 6%;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

.login {
  display: flex;
  width: 350px;
  flex-direction: column;
}

.login label {
  font-size: 18px;
  font-weight: bold;
  animation: title 2s 1 forwards;
}

.login .naver {
  width: 100%;
  padding: 10px 20px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: rgb(228 228 228) 0px 1px 1px 1px;
  background-color: rgb(3, 199, 90);
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: relative;
}

.login .kakao {
  width: 100%;
  padding: 10px 20px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: rgb(228 228 228) 0px 1px 1px 1px;
  background-color: rgb(254, 229, 0);
  position: relative;
  font-size: 16px;
}

.login .google {
  width: 100%;
  padding: 10px 20px;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px #e4e4e4;
  position: relative;
  font-size: 16px;
  background-color: #fff !important;
}

.login .naver img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login .kakao img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login .google img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login input {
  height: 50px;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250;
  margin-top: 20px;
}

.check button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 250ms;
}

.check button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
}

.check .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #d3d3d3;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 250ms;
}

.check .link:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
}

.check .find {
  display: flex;
  justify-content: space-between;
}

.check .find a {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}
